.main {
    padding: 1rem;
    margin: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.container 
{
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
}

.card-container {
    width: 100%;
    height: 420px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 30px;
}

.cover{
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    background-color: blue;
}

.editIcon {
    float: left;
    position: absolute;
}

.user {
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}

.avatar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    width: 100%;
}

.content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}

.content-row  {
    margin: 10px 0 ;
}


.card-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    text-align: center;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    /*  add */
    padding: 12px 30px;
    font-size: 1.313em;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    margin: 0 2px;
  }

  .btn-primary {
    background: #8DC63F;
    border-color: #8DC63F;
    color:white;
  }

  .btn-secondary {
    background: blue;
    border-color: blue;
    color:white;
  }

  /* sort */

  .sortArea {
    width: 90%;
    margin: 15px 55px;
}


  